

.container{
	height: 100vh;
	width: 50vw;
	background-color: black;
	position: relative;
	margin: auto;
}



.bola {
	position: absolute;
	margin: auto;
	background-color: white;
	border-radius: 50%;
	width:40%;
	height: 27%;
	left: 0;
	right: 0;
	top: 100px;
}


.linha {
	position: absolute;
	margin: auto;
	background-color: white;
	width: 90%;
	height: 5%;
	left: 0;
	right: 0;
	top: 160px;
}



.retangulo {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 5%;
	background-color: white;
	height: 7%;
	width: 90%; 
	border-radius: 50px; 
	
	
}