* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

:root {
	font-size: 62.5%;
}

html, body {
	width: 100%;
	font-size: 1.6rem;
}

a{
	text-decoration: none;
}

header {
	background-color: #212121;
	position: fixed;
	width: 100%;
}

header nav {
	display: flex;
	padding: 2rem;
	justify-content: space-between;
	align-items: center;
	
}

header nav .linkMedia {
	display:flex;
	justify-content: space-between;
	align-items: center;
}


header nav .linkMedia a:nth-of-type(2) {
	margin-left: 1rem;
}


header nav .linkMedia a {
	color: white;
	
}

header nav .linkMedia a h3 {
	font-weight: 400;
}

header nav .linkMedia a:hover {
	color: grey;
}

header nav a {
	color: grey;
}

header nav a:hover {
	color:white;
}

main#home{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

main section:nth-of-type(1) {
	margin-top: 6.9rem;
}

main section.section h2 {
	font-weight: 600;
	color: black;
}




.paginaEx h2 {
	margin-top: 4rem;
	margin-bottom: 3rem;
}



.paginaEx h4 {
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.paginaEx h5 {
	font-weight: 400;
	margin-bottom: 1.5rem;
}

.paginaEx p {
	
	margin: 0 auto;
	margin-bottom: 2.2rem;
}

.paginaEx p:nth-of-type(1) {
	margin-bottom: 5rem;
}


.paginaEx h2, h4, h5 {
	text-align: center;
}

.paginaEx {
	width: 60rem;
	padding: 2rem;
	margin: 0 auto;
}

ul li {
	list-style: none;
	text-align: center;
}